@import 'utils/variables';
@import 'utils/mixins';
.first-section {
    padding: 116px 0 116px;
    background: {
        image: url(../img/page-background.png);
        position: center;
        size: cover;
        repeat: no-repeat;
    }
    .container {
        position: relative;
        height: 54px;
    }
    h2 {
        letter-spacing: -1px;
        line-height: 30px;
        color: #1c1c1c;
        text-transform: uppercase;
        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 33px;
        margin: auto;
        display: block;
        margin-left: 16px;
        @include font-props ($lato-family, 36px, 300);
    }
}

.yellow-point {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #ffac55;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.main-section {
    padding: 115px 0 100px;
    .container {
        display: flex;
        justify-content: space-between;
    } 
}

.error-text {
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 33px;
    color: rgb(255, 83, 83);
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    font-weight: 800;
    display: block;
    margin: 0 auto;
}

.main-block {
    overflow: hidden;
    max-width: 848px;
    &-blog-wrapper {
        margin: 2rem 0;
    }
}

.blogs {
    width: 845px;
}

.h2-small-text {
    font-size: 14px;     
    color: #898e8f; 
}
.title-blogs {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 33px;
    color: #343a3b;
    @include font-props ($main-family, 34px, 800);
}

.blogs{
    margin-top: 40px;
    padding-bottom: 47px;
    border-bottom: 1px solid #e2e6e7;
    &-img {
        position: relative;
        height: 350px;
        &-date {
            max-width: 114px;
            background-color: #ffac55;
            text-transform: uppercase;
            letter-spacing: 0px;
            color: #ffffff;
            bottom: 40px;
            @include font-props ($main-family, 14px, 600);  
        }
        &-heading {
            background-color: #222222;
            letter-spacing: -1px;
            color: #ffffff;
            max-width: 457px;
            text-transform: uppercase;
            bottom: 0;
            @include font-props ($main-family, 18px, 700);
        }
        &-heading, &-date {
            left: 0;
            padding: 10px 15px;
            position: absolute;
        }
    }
    &-description {
        max-width: 757px;
        line-height: 28px;
        color: #838b8c;
        margin: 45px 0;
        @include font-props ($domine-family, 15px, 400);
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    position: relative;
}

.share-block {
    &-text {
        line-height: 28px;
        color: #222222;
        text-transform: uppercase;
        @include font-props ($main-family, 13px, 800);
    }
    &-icon {
        padding: 14px 10px 11px 11px;
        border-radius: 50%;
        max-width: 45px;
        border: 1px solid #d2dcde;
        .icon-share:before {
            color: #8a8a8a;
        }
    }
}

.search-text {
    letter-spacing: -1px;
    line-height: 33px;
    color: #898e8f;
    text-transform: uppercase;
    @include font-props ($main-family, 14px, 400);
}

.aside-block {
    max-width: 266px;
    width: 100%;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #d1dbdd;
    align-items: center;
    input {
        padding: 5px 0 5px 10px;
        line-height: 28px;
        color: #b5bdbe;
        border: 0;
        outline: none;
        width: 225px;
        @include font-props ($domine-family, 15px, 400);
    }
}

.categories {
    margin-top: 40px;
    h3 {
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 33px;
        color: #343a3b;
        @include font-props ($main-family, 18px, 700);
    }
    .categories-list {
        list-style-type: '\BB';
        font-size: 15px;
        line-height: 36px;
        color: #ffac55;
        font-family: $font-awasome;
        &-item {
            margin: 10px 0 10px 8px;
            &-text {
                margin-left: 20px;
                line-height: 36px;
                color: #838b8c;
                @include font-props ($domine-family, 15px, 400);
            }
        }
    }
}

.featured-post {
    margin-top: 50px;
    h3 {
        letter-spacing: -1px;
        line-height: 33px;
        color: #343a3b;
        text-transform: uppercase;
        @include font-props ($main-family, 18px, 700);
    }
    &-list {
        &-item {
            &-description {
                margin-top: 15px;
                display: flex;
                flex-direction: column;
            }
            span {
                padding: 4px 0;
            }
        }
        &-item:not(:first-child) {
            margin-top: 30px;
        }
    }
}

.featured-post-description {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 21px;
    color: #343a3b;
    @include font-props ($main-family, 14px, 400);
}
.featured-post-date {
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 21px;
    color: #ffc180;
    @include font-props ($main-family, 14px, 400);
}

audio {
    width: 100%;
}
.blue-block {
    padding: 60px 50px;
    background-color: #03b6e7;
    &-wrapper {
        margin: 0 auto;
        display: flex;
        &-text {
            max-width: 652px;
            line-height: 28px;
            color: #ffffff;
            @include font-props ($domine-family, 15px, 400);
        }
    }
}

.blue-block-wrapper:before {
    content: "\201c";
}

.blue-block-wrapper:after {
    content: "\201e";
    align-self: flex-end;
}

.blue-block-wrapper:after, .blue-block-wrapper:before {
    line-height: 28px;
    color: #ffffff;
    @include font-props ($main-family, 100px, 800);
}

.arrows-block {
    margin-top: 40px;
    display: flex;
}

.arrow-link {
    display: flex;
    align-items: center;
}
.next-block {
    padding-right: 17px;
}

.pagin-num {
    display: flex;
    min-width: 30px;
    justify-content: center;
    &-text {
        display: flex;
        line-height: 28px;
        color: #222222;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 800;
    }
    &-active {
        color: rgb(121, 116, 116);
        transform: scale(1.3);
        }
    &-item {
        padding: 0 5px;
        cursor: pointer;
        transition: .3s;
        &:hover {
            transform: scale(1.3);
            transition: .3s;
        }
    }
}

.previous-block {
    padding-left: 17px;
} 
.arrows-block-left, .arrows-block-right {
    line-height: 28px;
    color: #222222;
    text-transform: uppercase;
    @include font-props ($main-family, 14px, 400);
}
.arrows-block-left {
    margin-left: 10px;
}
.arrows-block-right {
    margin-right: 10px;
}

.icon-play-circled-green {
    color: #16d428;
    transform: rotate(180deg);
}

.icon-play-circled-orange {
    color: #ffac55;
}

//////////////////////////////////
.wrapper-share {
    display: flex;
    cursor: pointer;
}

.share-block-text {
    display: flex;
    border-left: 1px solid #dbdbdb;
    align-items: center;
    align-self: center;
    max-height: 20px;
    padding-left: 20px;
    transition: .5s;
    margin-right: 50px;
}

.share-block-text-active {
   display: none;
}

.share-block-date {
    transition: .5s;
    max-width: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-right: 25px;
    right: 125px;
    margin: auto 0;
    max-height: 20px;
    line-height: 28px;
    color: #222222;
    text-transform: uppercase;
    @include font-props ($main-family, 13px, 800);
}

.share-block-date-active {
    display: none;
}

.share-block {
    border-radius: 50%;
    max-width: 45px;
    border: 1px solid #d2dcde;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
    cursor: pointer;
}

.share-block-active {
    background-color: orange;
    border: none;
}

.links {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    transition: .5s;
    z-index: 20;
    
}

.icons-block {
    display: none;
    align-items: center;
    max-width: 158px;
    width: 100%;
    padding-left: 12px;
    z-index: 10;
    transition: .5s;
    border: 1.0px solid #d2dbdd;
    background-color: #ffffff;
    border-radius: 35px;
    a {
        padding: 0 5px;
    }
}

.icons-block-active {
    display: flex;
}



