@import 'utils/variables';
@import 'utils/mixins';

.banner {
    overflow: hidden;
    position: relative;
    padding-top: 180px;
    &-backgrounds {
        transition: 1s;
        opacity: 0;
        z-index: -1;
        height: 742px;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: {    
            size: cover;
            position: top;
        };
    };
}

.bgrnd1 {
    -webkit-animation: kenburns-top 5s ease-out both;
    animation: kenburns-top 5s ease-out both;
}

.left-rectangle-arrow, .right-rectangle-arrow {
    background-color: #262829;
    max-width: 46px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 110px;
    &:hover {
        cursor: pointer;
    }
}
.left-rectangle-arrow {
    left:0;
}
.right-rectangle-arrow {
    right:0;
}

.left-rectangle-arrow,.right-rectangle-arrow {
    .icon-right-open, .icon-left-open {
        padding: 44px 17px;
    }
}

.icon-right-open:before, .icon-left-open:before {
    font-size: 20px;
    margin: 0;
    width: 100%;
}

.bgrnd1 {
    background-image: url('../img/banner-background.png');
}

.bgrnd2 {
    background-image: url('../img/banner-background2.jpg');
}

.bgrnd3 {
    background-image: url('../img/banner-background3.jpeg');
}

.backgrounds-active {
    opacity: 1;
}

.industry {
    max-width: 460px;
    &-header {
        padding: 30px 50px;
        background-color: #ffac56;
        span {
            text-transform: uppercase;
            line-height: 36px;
            color: #ffffff;
            @include font-props ($main-family, 14px, 400);
        }
        h2 {
            text-transform: uppercase;
            line-height: 36px;
            color: #ffffff;
            @include font-props ($main-family, 27px, 400);
        }
    }
    &-body {
        &-block {
            display: flex;
            flex-wrap: wrap;
            max-width: 460px;
            &-item-text {
                @include font-props ($main-family, 14px, 400);
                margin-top: 10px;
                letter-spacing: 0px;
                line-height: 30px;
                color: #ffffff;
                text-transform: uppercase;
            }
            &-item {
                display: flex;
                align-items: flex-end;
                border: 1px solid #00a6d3;
                justify-content: space-between;
                padding: 33px 35px;
                max-width: 230px;
                width: 100%;
                background-color: #03b6e7;
                .industry-item-left {
                    display: flex;
                    flex-direction: column;
                    img {
                        max-width: 35px;
                    }
                }
                .icon-right-open-round {
                    opacity: 0.5;
                }
                .button {
                    margin: 0 auto;
                }
            }
            &-item:hover {
                cursor: pointer;
                background-color: #00a6d3;
            }
            &-item:hover .icon-right-open-round {
                opacity: 1;  
            }
            &-item:nth-child(6) {
                align-items: center;
            }
        }
    }
}

.client-img {
    width: 68px;
    height: 68px;
}

.button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #16d428;
    padding: 10px 22px;
    @include font-props ($main-family, 13px, 400);
    letter-spacing: 0;
    color: #ffffff;
    border-radius: 26px;
    max-width: 160px;
    text-align: center;
    max-width: 140px;
    height: 47px;
}

.our-steps-list-item-img {
    height: 63px;
    width: 63px;
}

.about-us {
    padding: 100px 0;
    position: relative;
    &-description {
        text-align: right;
        margin-right: 50px;
    }
    .container {
        display: flex;
    }
    .button {
       display: block;
       margin-left: auto;
       max-width: 140px;
    }
    &-sup-title {
        @include font-props ($main-family, 14px, 400);
        letter-spacing: -1px;
        line-height: 33px;
        color: #898e8f;
        text-transform: uppercase;
    }
    h2 {
        text-transform: uppercase;
        @include font-props ($main-family, 34px, 800);
        letter-spacing: -1px;
        line-height: 33px;
        color: #343a3b;
    }
    &-description-text {
        @include font-props ($domine-family, 15px, 400);
        line-height: 28px;
        color: #838b8c;
        text-align: right;
    }
    &-description-img {
        position: relative;
        .blue-box-wrapper {
            max-width: 237px;
            background-color: #03b6e7;
            border: 6px solid #ffffff;
            padding: 17px;
            position: absolute;
            z-index: 100;
            top: 60%;
            left: 0;
            right: 0;
            margin: auto;
            .blue-box {
                border: 1px solid #35c5ec;
                height: 235px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                overflow: hidden;
                .badge-icon {
                    position: absolute;
                    top: -21px;
                }
                &-description {
                    padding: 0 0 20px;
                    display: flex;
                    flex-direction: column;
                    &-number {
                        @include font-props ($main-family, 75px, 400);
                        letter-spacing: -4px;
                        color: #ffffff;
                        text-align: center;
                    }
                    &-text {
                        @include font-props ($main-family, 13px, 400);
                        text-transform: uppercase;
                        letter-spacing: 0px;
                        line-height: 20px;
                        color: #ffffff;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.about-us-description-img {
    width: 455px;
    height: 253px;
}

.badge-icon {
    width: 100px;
    height: 107px;
}

.h2-small-text {
    font-size: 14px;
    color: #898e8f;
    font-weight: 400;
}
.our-steps {
    padding: 90px 0;
    background-color: #e7eff1;
    &-header {
        @include font-props ($main-family, 34px, 800);
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 33px;
        color: #343a3b;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        &-item {
            max-width: 310px;
            display: flex;
            flex-direction: column;
            &-number {
                margin: 30px 0 5px;
            }
            &-number::before {
                @include font-props ($main-family, 20px, 400);
                counter-increment: list;
                content: "0" counter(list);      
                letter-spacing: 0;
                line-height: 30px;
                color: #16d428;
                margin-top: 10px;
            }
            &-header {
                @include font-props ($main-family, 18px, 700);
                letter-spacing: -1px;
                line-height: 33px;
                color: #343a3b;
                text-transform: uppercase;
            }
            &-description {
                @include font-props ($main-family, 15px, 400);
                line-height: 28px;
                color: #838b8c;
            }
        }
    }
}

.our-steps-list-item-img {
    max-width: 108px;
}

.clients-slider {
    margin-top: 50px;
    margin-left: -35px;
    display: flex;
    justify-content: space-between;
}

.testimonial {
    padding: 91px 0;
    background-color: #03b6e7;
    .visible {
        height: 68px;
        max-width: 715px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    &-header {
        @include font-props ($main-family, 27px, 800);
        display: flex;
        flex-direction: column;
        letter-spacing: -1px;
        line-height: 33px;
        color: #ffffff;
        text-transform: uppercase;
    }
    &-description {
        @include font-props ($domine-family, 15px, 400);
        margin-top: 50px;
        line-height: 28px;
        color: #ddf8ff;
        &-text {
            display: flex;
            justify-content: space-between;
            p {
                max-width: 890px;
                margin: 0;
            }
        }
        &-text:before {
            content: url(../img/icon-quote.png);
        }
        &-text:after {
            content: url(../img/icon-quote-2.png);
        }
        &-underline {
            width: 17px;
            height: 2px;
            background-color: #ffffff;
            margin-top: 30px;
        }
    }
}

.clients-list {
    &-block-item {
        margin-left: 35px;
    }
    &-block {
        left: 0;
        transition: .5s;
        position: absolute;
        display: flex;
        justify-content: space-between; 
        &-item {
            min-width: 203px;
            display: flex;
            .client-description {
                margin-left: 30px;
            }
            img {
                opacity: 0.5;
            }
            &:hover, &:hover img {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

.testimonial-small-text {
    color: #a6ecff;
    font-size: 14px;
    font-weight: 400;
}

.clients-list-carousel {
    align-items: center;
    display: flex;
    &-item {
        cursor: pointer;
        width: 15px;
        height: 15px;
        border: 2px solid #ffffff;
        margin: 0 3px;
        border-radius: 50%;
        display: flex;
        .point {
            align-self: center;
            width: 3px;
            height: 3px;
            background-color: #16d428;
            margin: 0 auto;
            display: none;
        }
    }
    &-item-active {
        border: 3px solid #16d428;
        .point {
            display: block;
        }
    }
}

.news-letter-header, .navigation-header, 
.industry-list-header, .follow-us-header {
    @include font-props ($main-family, 20px, 700);
    letter-spacing: 0px;
    line-height: 33px;
    color: #e1e1e1;
    text-transform: uppercase;
}

//////////////////////////////////

.rotate-center:hover {
    animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

///////////////////////////////////////////

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
                transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
                transform-origin: top;
    }
}
