html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-contact {
    background-color: #262829;
}

.contact-us {
    display: flex;
    justify-content: flex-end;
    .email, .phone {
        padding: 0 15px;
    }
    .email {
        border-right: 1px solid #5d6163;
    }
    span {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 36px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        color: #5d6163;
        text-transform: uppercase;
        .email-white, .phone-white {
            color: #ffffff;
        }
    }
}

.header {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }
    h1 {
        display: flex;
        align-items: center;
    }
    a {
        display: flex;
        align-items: center;
    }
}

.header-contact {
    .container {
        padding: 0;
        justify-content: flex-end;
    }
}

.navigation {
    display: flex;
    padding: 0;
    margin: 0;
    &-item {
        padding: 0 16px;
        transition: .5s;
        a {
            text-decoration: none;
            font-size: 14px;
            line-height: 30px;
            color: #7a7a7a;
            font-weight: 400;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            transition: .5s;
        }
        a:hover {
            color: #ffac55;
            // transform: scale(1.3);
            transition: .5s;
        }
    }
    &-item:hover {
        transition: .5s;
        transform: scale(1.3);
    }
}